<header class="text-center">
  <h1>
    فهرست محصولات
  </h1>
</header>
<hr class="bor"/>
<div class="row m-0">
  <div style="direction: rtl" class="col-sm-12">
    <table class="table table-bordered">
      <thead >
      <tr>
        <th></th>
        <th>عنوان</th>
        <th> سیستم عامل</th>
        <th>طبقه بندی</th>
        <th>حجم فایل</th>
        <th>لینک دانلود</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pr of productList">
        <td class="text-center"><img width="30px" height="30px" [src]="pr?.iconThumbNail"></td>
        <td class="text-center">{{pr?.title}}</td>
        <td class="text-center">{{pr?.osName}}</td>
        <td class="text-center">{{pr?.appCategoryName}}</td>
        <td class="text-center">{{pr?.fileSize/1024 | number:'1.0-0'}}MB</td>
        <td class="text-center">
          <a class="pointer" [href]="pr?.downLoadLink">
            دانلود
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row m-0">
  <div class="col-md-12 text-center">
    <ul class="pagination" id="pagingTable">
      <li class="page-item">
        <span class="page-link" (click)="previousPage()">قبلی</span>
      </li>
      <li class="page-item">
        <span class="page-link" (click)="nextPage()">بعدی</span>
      </li>
    </ul>
  </div>
</div>
