table.table-bordered{
  border:2px solid lightseagreen;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:2px solid lightseagreen;
  background-color: rgba(29,150,178,1);
  border: 1px solid rgba(29,150,178,1);
  font-weight: normal;
  text-align: center;
  color: white;
  font-family: Tahoma;
}
table.table-bordered > tbody > tr > td{
  border:2px solid lightseagreen;
  background-color: white;
}
table.table-bordered>thead{
font-size: medium;
}
header{
  font-family: "B Homa";
}
hr{
  border-style: solid;
  border-color: teal;
  border-width: 2px;
}
